.wrapper {
  display: flex;
  flex-flow: column;
}

div {
  display: flex;
}

.board {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 52px;
  grid-template-rows: 52px;
  grid-gap: 0;
}

.playground {
  grid-area: 2/2;
  border-spacing: 2px;
  border: 1px solid #5dbcd2;
  display: flex;
  gap: 2px;
  padding: 2px;
  flex-direction: column;
  width: fit-content;
}

.row {
  display: flex;
  gap: 2px;
}

.board:hover .delete-block {
  display: block;
}

.block {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  user-select: none;
  font-size: 1.5rem;
  color: white;
  outline: none;
}

.block:hover {
  cursor: pointer;
}

.block:active {
  border-radius: 2px;
  box-shadow: 0 0 2px 2px #5dbcd2;
}

.add-block {
  background-color: #e9a417;
  transition: all 0.3s linear;
}

.part-one > .add-block {
  margin-top: 54px;
}
.part-two > .add-block {
  margin-left: 54px;
}

.add-block:hover {
  background-color: #f5bc5e;
}

.delete-block {
  background-color: #b72121;
  transition: all 0.3s linear;
  display: none;
}

.delete-block:first-child {
  grid-area: 2/1;
}

.delete-block:nth-child(2) {
  grid-area: 1/2;
}

.delete-block:hover {
  background-color: #dc4c54;
}

.main-block {
  background: #5dbcd2;
  width: 50px;
  height: 50px;
}
